.aspirateur-content {
    background: #fff;
    @include border-radius(10px);
    padding: 50px 85px;
}
.form-group {
    overflow: hidden;
    margin-bottom: 20px;
}
.form-input {
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    @include border-radius(5px);
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: $black-color;
    @include input-placeholder($grey-light);
	&::-webkit-input-placeholder {
        font-weight: 500;
	}
	&::-moz-placeholder {
		font-weight: 500;
	}
	&:-ms-input-placeholder {
		font-weight: 500;
	}
	&:-moz-placeholder {
		font-weight: 500;
    }
    &:focus {
        border: 1px solid transparent;
        -webkit-border-image-source: 
            -webkit-linear-gradient(to right, rgb(159,172,230),  rgb(116,235,213)); 
        -moz-border-image-source:
            -moz-linear-gradient(to right, rgb(159,172,230),  rgb(116,235,213)); 
        -o-border-image-source:
            -o-linear-gradient(to right, rgb(159,172,230),  rgb(116,235,213));
        border-image-source:
            linear-gradient(to right, rgb(159,172,230),  rgb(116,235,213));
        -webkit-border-image-slice: 1;
        border-image-slice: 1;
        @include border-radius(5px);
        @include input-placeholder($black-color);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }

}
.form-submit {
    width: 100%;
    @include border-radius(5px);
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-image :    -moz-linear-gradient(to left, #74ebd5,#9face6);
    background-image :     -ms-linear-gradient(to left, #74ebd5,#9face6);
    background-image :      -o-linear-gradient(to left, #74ebd5,#9face6);
    background-image : -webkit-linear-gradient(to left, #74ebd5,#9face6);
    background-image :         linear-gradient(to left, #74ebd5,#9face6);
    
}
input[type=checkbox]:not(old){
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    display: none;
  }
  input[type=checkbox]:not(old) + label{
      display      : inline-block;
      margin-top: 7px;
      margin-bottom: 25px;
  }
  input[type=checkbox]:not(old) + label > span{
    display          : inline-block;
    width            : 13px;
    height           : 13px;
    margin-right: 15px;
    margin-bottom: 3px;
    border           : 1px solid #ebebeb;
    @include border-radius(2px);
    background       : rgb(255,255,255);
    background-image :    -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
    background-image :     -ms-linear-gradient(rgb(255,255,255),rgb(255,255,255));
    background-image :      -o-linear-gradient(rgb(255,255,255),rgb(255,255,255));
    background-image : -webkit-linear-gradient(rgb(255,255,255),rgb(255,255,255));
    background-image :         linear-gradient(rgb(255,255,255),rgb(255,255,255 ));
    vertical-align   : bottom;
  }
  input[type=checkbox]:not(old):checked + label > span{
      background-image :    -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
      background-image :     -ms-linear-gradient(rgb(255,255,255),rgb(255,255,255));
      background-image :      -o-linear-gradient(rgb(255,255,255),rgb(255,255,255));
      background-image : -webkit-linear-gradient(rgb(255,255,255),rgb(255,255,255));
      background-image :         linear-gradient(rgb(255,255,255),rgb(255,255,255 ));
  }
  input[type=checkbox]:not(old):checked + label > span:before{
      content     : '\f26b';
      display     : block;
      color       : $black-color;
      font-size   : 11px;
      line-height : 1.2;
      text-align  : center;
      font-family: 'Material-Design-Iconic-Font';
      font-weight: bold;
}
.label-agree-term {
    font-size: 12px;
    font-weight: 600;
    color: #555;
}
.term-service {
    color: #555; 
}

.loginhere {
    color: #555;
    font-weight: 500;
    text-align: center;
    margin-top: 91px;
    margin-bottom: 5px;
}
.loginhere-link {
    font-weight: 700;
    color: $black-color;
}
.field-icon {
    float: right;
    margin-right: 17px;
    margin-top: -32px;
    position: relative;
    z-index: 2;
    color: #555;
  }


  

  