
//end 992px
@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 40px);
        max-width: 100%;
    }
}

//end 575px
@media screen and (max-width: 480px) {
    .aspirateur-content {
        padding: 50px 25px;
    }

}
