 a:focus, a:active { text-decoration: none; outline: none; @include transition(all 300ms ease 0s); }
input, select, textarea { outline: none; @include appearance( unset ); }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    @include appearance( none );
    margin: 0;
}
input:focus, select:focus, textarea:focus { outline: none; @include box-shadow-input(none); }
input[type=checkbox] { @include appearance( checkbox ); }
input[type=radio] { @include appearance( radio ); }
img { max-width: 100%; height: auto; }
figure { margin: 0; }
p { margin-bottom: 0px; font-size: 15px; color: #777;}
h2 { 
    line-height: 1.66; 
    margin: 0; 
    padding: 0;
    font-weight: 900; 
    color: $black-color;
    font-family: 'Montserrat';
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}
.clear { clear: both; }
body {
	font-size: 14px;
    line-height: 1.8;
    color: $black-color;
    font-weight: 400;
    font-family: 'Montserrat';
    background-image: url('../images/home-header-sm.jpg');
    background-repeat: no-repeat;
    @include background-size(cover);
    background-position: center center;
    padding: 115px 0;
}
.container {
    width: 660px;
    position: relative;
    margin: 0 auto;
}
  
.display-flex  {
    @extend display-flex;
    @include justify-content(space-between);
    @include align-items(center);
}

.display-flex-center  {
    @extend display-flex;
    @include justify-content(center);
    @include align-items(center);
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
}
